	body {
		font-family: Arial, Helvetica, sans-serif;
		color: rgb(82, 56, 17);
		background-color: rgb(209, 175, 130);
	}
	
	h1{
		

	}

	p{
		
	}

	img{
		
	}
	
	.imgindex{
		
	}
	
	#principal {
		
	}